# DataFrame 4: Muertes por episodio I
Lista episodios

Muertes????

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_muertes_epi1 = pd.read_csv('../data/muertes_x_episodio1.csv')
df_muertes_epi1

,index,game-of-thones-deaths,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0,Allegiance,Death No.,Episode,Killer,Killers House,Location,Method,Name,Season
1,1,Night's Watch,1,1,White Walker,NaN,Beyond the Wall,Ice sword,Waymar Royce,1
2,2,Night's Watch,2,1,White Walker,NaN,Beyond the Wall,Ice sword,Gared,1
3,3,Night's Watch,3,1,Ned Stark,House Stark,Winterfell,Sword,Will,1
4,4,NaN,4,1,Direwolf,NaN,Winterfell,Teeth,Stag,1
...,...,...,...,...,...,...,...,...,...,...
2220,2220,NaN,2207,5,Daenerys Targaryen,House Targaryen,King's Landing,Dragonfire (Dragon),King's Landing Citizen,8
2221,2221,NaN,2208,5,Daenerys Targaryen,House Targaryen,King's Landing,Dragonfire (Dragon),King's Landing Citizen,8
2222,2222,NaN,2209,5,Daenerys Targaryen,House Targaryen,King's Landing,Dragonfire (Dragon),King's Landing Citizen,8
2223,2223,NaN,2210,5,Daenerys Targaryen,House Targaryen,King's Landing,Dragonfire (Dragon),King's Landing Citizen,8
2224,2224,House Targaryen,2224,6,Jon Snow,House Stark,King's Landing,Knife,Daenerys Targaryen,8

In [4]:
df_muertes_epi1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  2225 non-null   int64
 1   game-of-thones-deaths  1793 non-null   object
 2   Unnamed: 1             2225 non-null   object
 3   Unnamed: 2             2225 non-null   object
 4   Unnamed: 3             2215 non-null   object
 5   Unnamed: 4             2195 non-null   object
 6   Unnamed: 5             2225 non-null   object
 7   Unnamed: 6             2225 non-null   object
 8   Unnamed: 7             2225 non-null   object
 9   Unnamed: 8             2225 non-null   object
dtypes: int64(1), object(9)
memory usage: 174.0+ KB